.content-box {
    background:rgba(0,0,0, .6);
    color:white;
    margin-top: 80px;
    padding: 20px;
    box-shadow: 0px 0px 10px 3px grey;
}

hr {
    background: white;	
}

.portfolio-item {
    padding-top: 20px;
    padding-bottom: 30px;
}